html {
        /* color: rgb(62, 11, 19); */
        color: rgb(rgb(75, 75, 75));
}

body {
    margin: 0;
    background-color: rgb(253, 251, 246);
    font-family: 'Taviraj', serif;
}

h1 {
    font-family: 'Taviraj', serif;
    font-size: 140px;
    font-weight: 300;
    /* text-shadow: 2px 2px 4px lightgray; */
}

h2 {
    /* color: #7D1829; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 25px;
}

h3 {
    padding-top: 50px;
    padding-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 19px;
    padding: 20px;
    text-align: justify;
    /* font: 200 20px/1.5 Helvetica, Verdana, sans-serif; */
}

.top-container {
    /* background-color: rgb(254, 251, 239); */
    height: 1080px;
    width: 100%;
    text-align: center;
    color: #D90404;
    /* padding: 30px; */
    font-family: 'Taviraj', serif;
    text-align: center;
    /* background: url("./images/japan-map-1874.jpg") no-repeat fixed;
    background-size: cover;
    background-repeat: no-repeat; */
}

.header {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(253, 251, 246);
    width: 100%;
    padding: 50px 16px;
    text-align: center;
    /* background: #555; */
    /* color: #7D1829; */
    opacity: 0.98;
    z-index: 3;
    /* box-shadow: 0px 0px 10px 0px lightgray; */
}

.content {
    padding: 16px;
}
/* sticky header */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 102px;
}

span.left {
    font-family: 'Montserrat', sans-serif;
    /* color: #7D1829; */
    position: absolute;
    left: 100px;
}

span.center {
    font-family: 'Montserrat', sans-serif;
    /* color: #7D1829; */
    position: absolute;
    left: 500px;
}

span.right {
    font-family: 'Montserrat', sans-serif;
    /* color: #7D1829; */
    position: absolute;
    left: 1150px;
}

span {
    font-size: 25px;
}
/* .japan-map {
    top: 300px;
    position: absolute;
    width: 600px;
    /* margin: auto; */

/* }  */

/* img {
    right: 20px;
    height: auto;
    width: auto;
    max-width: 800px;
} */

/* img:hover {
        box-shadow: 0px 0px 10px 0px lightgray;
        border-radius: 5px;
        transition: all .5s;
    } */

.title {
    /* position: absolute; */
    /* width: 80%; */
    font-family: 'Taviraj', serif;
    font-size: 146px;
    font-weight: 300;
    text-align: center;
}

.subtitle {
    /* width: 8%; */
    font-size: 55px;
    text-align: center;
}

.blurb {
    position: relative;
    width: 83%;
    /* top: 50px; */
    color: #D90404;
    font-family: 'Taviraj', serif;
    font-size: 32px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    margin: auto;
    /* margin-right: -885px; */
    /* margin-top: 35px; */
    /* text-shadow: black ;  */
}

.japanese {
    font-size: 40px;
    font-weight: 300;
    opacity: 0.2;
}

.container div {
    /* padding: 1%; */
    box-sizing: border-box;
    min-height: 500px;
}

.left-col {
    position: relative;
    /* color: #7D1829; */
    width: 25%;
    float: left;
    /* box-shadow: 0px 0px 10px 0px lightgray; */
    height: 5000px;
    /* border-right: 1px solid black; */
}

#sourcing {
    position: absolute;
    top: 4700px;
    font-family: 'Montserrat', sans-serif;
    /*   right: 0; */
}

.center-col {
    position: relative;
    /* color: #7D1829; */
    width: 25%;
    float: left;
    /* box-shadow: 0px 0px 10px 0px lightgray; */
    height: 5000px;
    box-shadow: 8px 0px 6px -6px lightgray;
    /* border-left: 1px solid black; */
    /* position: absolute; */
}

/* #center-text {
    position: relative;
    font-family: 'Taviraj', serif;
    margin-left: 30px;
    margin-right: 20px;
} */

#right-col {
    /* color: #7D1829; */
    height: 5000px;
    width: 50%;
    /* margin: 0 auto; */
    float: left;
    /* font-family: 'Taviraj', serif; */
    font-weight: 700;
    text-align: center;
    font-size: 15px;
    /* box-shadow: 8px 0px 6px -6px lightgray; */
    /* box-shadow: 0 8px 6px -6px black; */
    /* height: 100%; */
    /* overflow: scroll; */
    /* border-left: 1px solid black; */
}

svg {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
/* svg.timeline {
    position: relative;
    top: -100px;
}

svg.word {
    position: relative;
    top: -100px;
} */
/* display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto; */

/* svg:hover {
    box-shadow: 0px 0px 10px 0px lightgray;
    border-radius: 5px;
    transition: all .5s;
} */

#viz-container {
    position: relative;
    top: 60px;
}

.naturalization {
    height: auto;
    max-width: 700px;
    margin-left: 30px;
    /* max-height: 300px; */
}

.bubble-text {
    position: relative;
    bottom: 150px;
}

.footer {
    clear: both;
    font-family: 'Montserrat', sans-serif;
    /* background-color: rgb(216, 221, 222); */
    /* background-color: lightgray; */
    color: #D90404;
    text-align: center;
    height: 50px;
    padding-top: 10px;
    box-sizing: border-box;
}

a {
    /* font-family: 'Taviraj', serif; */
    color: #D90404;
}

.oedtext {
    fill: #7D1829;
    shape-rendering: crispEdges;
}

.oedtext.active {
    /* fill: #D90404; */
    /* text-decoration: underline; */
    text-shadow: 1px 1px 5px gray;
    color: rgb(75, 75, 75);
}

.nyt-word.active {
    text-shadow: 1px 1px 5px gray;
} 

div.tooltip {
    position: absolute;
    line-height: 100%;
    text-align: left;
    width: 250px;
    max-height: fit-content;
    padding: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    background: white;
    color: black;
    /* color: rgb(100, 100, 100); */
    /* color: rgb(125, 24, 41); */
    /* border: .5px solid black; */
    /* border-radius: 4px; */
    pointer-events: none;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, .1);
    border-radius: 12px;
    overflow: hidden;
}

.div.tooltip:hover {
    box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
    transform: translate3D(0, -2px, 0);
  }

#bubbleChart {
    /* margin-top: 1.5%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 780px;
}

.categories {
    position: relative;
    top: 50px;
}

.word-map-img {
    width: 700px;
    box-shadow: 0px 0px 10px 0px lightgray;
    /* border: 1px solid lightgray; */
}

button {
    /* margin-left: -100px; */
    font-size: 25px;
    position: relative;
    top: -18px;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(rgb(75, 75, 75))
    /* color: rgb(125, 24, 41); */
}

button:hover {
    /* box-shadow: 0px 0px 10px 0px lightgray; */
    /* color: #D90404; */
    box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
    transform: translate3D(0, -2px, 0);
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

.overlay {
    fill: none;
    stroke: none;
    pointer-events: all;
}

div.card {
    position: absolute;
    line-height: 100%;
    text-align: left;
    width: 300px;
    max-height: fit-content;
    padding: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    background: white;
    color: black;
    pointer-events: none;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, .1);
    border-radius: 12px;
    overflow: hidden; 
}

.card-img {
    display: block;
    margin: 1rem auto;
    max-width: 250px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, .1);
    border-radius: 12px;
}

.card-headline {
    text-align: center;
    padding: 1rem 1rem;
    background-image: linear-gradient(120deg, rgb(125, 24, 41) 0%, #D90404 100%);
    margin: 0 0 2rem 0;
    font-size: 1.2rem;
    color: white;
}

.card-abstract {
    padding: 0 1rem 1rem;
    margin: 0;
}

.card-pubDate {
    padding: 0 1rem 1rem;
    margin: 0;  
}